<!DOCTYPE html>
<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <main class="main-index">

      <h1 style="margin-left: 2%;">HELLO WORLD</h1>
      
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
