<header class="main-header">
  <section class="header-section1">
    <div class="img-search-div">
      <!-- div-header-img -->
      <div class="div-header-img">
        <a href="/"><img src="/images/logo/DS-logo.jpeg" alt="" /></a>
      </div>

      <!-- div-header-form -->
      <div class="div-header-form">
        <form class="header-form" action="" method="">
          <input
            class="header-input"
            placeholder="Search products, brands"
            type="text"
          />
          <button type="submit" class="header-search-buttom">
            <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- div-header-info -->
    <div class="div-header-info">
      <h4>Buy on cuotes and without credit card</h4>
    </div>
  </section>

  <section class="header-section2">
    <ul class="header-links" type="none">
      <li><a href="">Oficial stores</a></li>
      <li><a href="">Sell</a></li>
      <li><a href="">Offers</a></li>
      <li><a href="/users/register">Create an acount</a><i class="fa-solid fa-address-card"></i></li>
      <li><a href="/users/loggin">logg in</a><i class="fa-solid fa-right-to-bracket"></i></li>
    </ul>
  </section>
</header>
